/**
 * Autor: Shopify
 * Fecha de creación: 06/12/2017
 * Función: Fijado a iconos.
 */
// Fixed Width Icons
// -------------------------
.#{$fa-css-prefix}-fw {
  width: (18em / 14);
  text-align: center;
}
