
/**
 * Autor: Shopify
 * Fecha de creación: 06/12/2017
 * Función: Este archivo da estilos css a toda la aplicación.
 */
* {  padding: 0;  
margin: 0;  
border: 0;  
}

body {
	background: #fff;
	/*font-family: 'Mukta', sans-serif;*/
	font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
	line-height: 18px;	
    font-size: 12pt;
    margin-bottom: 60px;
    background-color: #f1f2f2;
    left:0px;
    right:0px;
    
    background: url('img/fondo.jpg') no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}

input#loginEdit { background:#FFF68F; }

a#icono-idioma{
	padding: 3px;
	margin-bottom: 8px;
}

div#texto-fecha{
	margin: 0px -15px 0px;
}

div#textoicono {
	font-family: Vegur, 'PT Sans', Verdana, Sans-serif;	

}

button.btn-editar{
	margin-left: 17px;
}

div#cabecera {
	font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
	background: #e9e9e9;
}

.saludo {
	text-align: left;
}

 /*MENU LATERAL style*/
.btn-menu {
	display: none;
	padding: 20px;
	background: #0d2c44;
	color:#fff; 
}

.btn-menu .icono {
	float: right;
}

.contenedor-menu{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 10px 0px;
	padding: 0px;	
	display: inline-block;
	font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
	line-height: 19px;
	position: relative;
	top:-8px;
	bottom: 0px;	
	left: 0px;  	
}

.contenedor-menu .menu{
	width: 100%;
}

.contenedor-menu ul{
	list-style: none;
}

.contenedor-menu .menu li a{
	color:#494949;
	display: block;
	padding:15px 20px;
	background:  #e9e9e9;
} 

/*hover style*/
.contenedor-menu .menu li a:hover{
	background: #1a95d5;
	color:#fff;
}
 /*icons style*/
.contenedor-menu .menu .icono{
	font-size: 12px;
	line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda{
	float: left;
	margin-right: 10px;
}

.contenedor-menu .menu .icono.derecha{
	float: right;
	margin-left: 10px;
}


.contenedor-menu .menu ul{
	display: none;
}

/*submenu style*/
.contenedor-menu .menu li ul li a{
	color: #424242; 
	background: #e9e9e9;
}

.contenedor-menu .menu .activado > a{
	background: #1a95d5;
	color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 60px; /* Vertically center the text there */
  background: #e9e9e9;
}

.fixed-panel {
  min-height: 10;
  max-height: 10;
  overflow-y: scroll;
}
